<div class="flex bg-white">
  <div class="w-full flex flex-col justify-center items-center p-8">
    <h1 class="text-2xl font-bold text-gray-700 mb-4">{{activityType}}</h1>

    <form #activityForm="ngForm" (ngSubmit)="onSubmit()" class="w-full max-w-sm">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ 'shared.date' | translate }}</mat-label>
        <input matInput placeholder="Date" [(ngModel)]="date" name="date" readonly>
      </mat-form-field>


      <div *ngIf="activityType === 'Seeding'">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ 'agriculturalProcess.plantType' | translate }}</mat-label>
          <input matInput placeholder="Plan Type" name="plantType" [(ngModel)]="item.plantType" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ 'agriculturalProcess.quantityPlanted' | translate }}</mat-label>
          <input matInput type="number" min="1" placeholder="Quantity Planted" name="quantityPlanted" [(ngModel)]="item.quantityPlanted" required>
        </mat-form-field>
      </div>

      <div *ngIf="activityType === 'Irrigation'">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ 'agriculturalProcess.hoursIrrigated' | translate }}</mat-label>
          <input matInput type="number" min="1" placeholder="Hours Irrigated" name="hoursIrrigated" [(ngModel)]="item.hoursIrrigated" required>
        </mat-form-field>
      </div>

      <div *ngIf="activityType === 'CropTreatment'">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ 'agriculturalProcess.type' | translate }}</mat-label>
          <mat-select placeholder="Type" name="treatmentType" [(ngModel)]="item.treatmentType" required>
            <mat-option [value]="'Fertilization'">Fertilization</mat-option>
            <mat-option [value]="'Fumigation'">Fumigation</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="activityType === 'Harvest'">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ 'agriculturalProcess.quantityHarvested' | translate }}</mat-label>
          <input matInput type="number" min="1" placeholder="Quantity Harvested" name="quantityInKg" [(ngModel)]="item.quantityInKg" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ 'agriculturalProcess.pricePerKg' | translate }}</mat-label>
          <input matInput type="number" min="1" placeholder="Price Per Kg" name="pricePerKg" [(ngModel)]="item.pricePerKg" required>
        </mat-form-field>
      </div>

      <div class="flex flex-col gap-4 sm:flex-row justify-around mt-4">
        <button
          type="submit"
          [disabled]="activityForm.invalid"
          class="bg-primary px-5 py-3 text-white font-semibold uppercase rounded-lg shadow-md hover:bg-primary-hover disabled:opacity-50 disabled:cursor-not-allowed transition-all duration-300 ease-in-out">
          {{ 'shared.confirm' | translate }}
        </button>


        <button
          type="button"
          (click)="onCancel()"
          class="bg-red-600 text-white font-semibold uppercase px-5 py-3 rounded-lg shadow-md hover:bg-red-700 transition-all duration-300 ease-in-out">
          {{ 'shared.cancel' | translate }}
        </button>
      </div>

    </form>
  </div>
</div>

<app-resource-form [showForm]="showResourceForm" [activityId]="activityId" [agriculturalProcessId]="newAgriProcessId" (close)="handleClose()"/>
