<div class="p-4 ">
  <div class="text-lg font-bold">
    <mat-icon>agriculture</mat-icon> AgroControl
  </div>
  <nav class="!space-y-2 px-4 mt-4">
    <a *ngIf="role === 'producer'" (click)="goToHome()" class="block py-2 cursor-pointer">Home</a>
    <a *ngIf="role === 'producer'" [routerLink]="['fields']" class="block py-2">Your Fields</a>
    <a *ngIf="role === 'producer'" [routerLink]="['Irrigation-history']" class="block py-2">Irrigation</a>
    <a *ngIf="role === 'producer'" [routerLink]="['CropTreatment-history']" class="block py-2">Crop Treatment</a>
    <a *ngIf="role === 'producer'" [routerLink]="['Harvest-history']" class="block py-2">Harvest</a>
    <a *ngIf="role === 'producer'" [routerLink]="['finance-view']" class="block py-2">Finances</a>
    <a *ngIf="role === 'producer'" [routerLink]="['products-inventory']" class="block py-2">Your Products</a>
    <a *ngIf="role === 'producer'" [routerLink]="['store']" class="block py-2">Store</a>
    <a *ngIf="role === 'distributor'" [routerLink]="['your-products']" class="block py-2">Your Products</a>
    <a *ngIf="role === 'distributor'" [routerLink]="['sale-history']" class="block py-2">Sale History</a>
    <a (click)="logOut()" class="block py-2 cursor-pointer">Log Out</a>
  </nav>
</div>

